*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    height: 100vh;
    width: 85%;
    background: #222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.sidebar {
    margin: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 20;
}

.controls-box,
.score-box {
    background: #333;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0006;
}

.controls-box h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.controls-box ul {
    list-style: none;
    line-height: 1.7;
    font-size: 17px;
}

.score-text {
    font-size: 16px;
    margin-bottom: 10px;
}

.score-text .small {
    font-size: 13px;
    opacity: 0.8;
}

.score-btn {
    display: inline-block;
    background: #0d6efd;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: 0.2s;
}

.score-btn:hover {
    background: #0b5ed7;
}
