<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/styles/encabezado.css">
    <title>Document</title>
</head>

<body>
    <header>
        <img src="../../MWpage/view/img/logo-move.avif" alt="">
        <!-- <h1>Mortal Wastes</h1> -->
        <nav>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Jugar</a></li>
                <li><a href="">manual</a></li>
                <li><img src="" alt="perfil"></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="panel">
            <img class="fondo" src="../view/img/logo-move.avif" alt="fondo">
            <div class="panel-contenido">
                <h2>Bienvenido a Mortal Wastes</h2>
                <p>Explora el mundo post-apocalíptico y sobrevive a los desafíos que te esperan.</p>
                <button class="btn-jugar">Jugar Ahora</button>
            </div>
        </section>
    </main>

    <section class="info-juego">

        <h2>Acerca del Juego</h2>
        <div class="Características">
            <p>Mortal Wastes es un juego de supervivencia ambientado en un mundo devastado por una catástrofe global.
                Los jugadores deben explorar, recolectar recursos y enfrentarse a peligros para sobrevivir.</p>
            <h3>Características Principales:</h3>
            <ul>
                <li>Mundo abierto para explorar.</li>
                <li>Sistema de crafting para crear herramientas y armas.</li>
                <li>Enemigos desafiantes y eventos dinámicos.</li>
            </ul>
        </div>

    </section>
</body>

</html>