/* 🎨 Paleta */
:root {
    --morado: #241b3a;
    --dorado: #e7c773;
    --bg-dark: #0c0017;
    /* --font-main: var(--font); */
}


/* @font-face {
    font-family: "KarmaFuture";
    src: url("../font/KarmaFuture.ttf") format("truetype");
    font-weight: normal;
} */
/* 🔥 Fondo general */
body {
    height: 90vh;
    background: radial-gradient(circle at center, #150033 0%, #0c0017 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-family: var(--font-main); */
    color: var(--dorado);
}

/* Contenedor */
.conteiner {
    display: flex;
    flex-direction: column;
}

.form-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 📦 Tarjeta */
.form {
    display: flex;
    flex-direction: column;
    background: rgba(139, 107, 255, 0.15); /* morado suave transparente */
    border: 2px solid rgba(231, 199, 115, 0.5); /* borde dorado */
    border-radius: 14px;
    backdrop-filter: blur(8px);
    padding: 30px;
    gap: 25px;
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(139, 107, 255, 0.45);
}

.form label{
    padding: 5px;
}

/* 🟪 Inputs */
.form input {
    background-color: #1b0033;
    padding: 11px;
    font-size: 17px;
    border: 2px solid var(--morado);
    border-radius: 8px;
    color: var(--dorado);
    font-family: var(--font-main);
    outline: none;
    transition: box-shadow 0.3s, transform 0.3s, border 0.3s;
}

.form input:focus {
    border-color: var(--dorado);
    box-shadow: 0 0 12px var(--dorado);
    transform: scale(1.05);
}

/* Logo */
.logo img {
    transition: filter 0.25s, transform 0.25s;
    filter: drop-shadow(0 0 7px var(--morado));
}

.logo img:hover {
    transform: scale(1.12);
    filter: drop-shadow(0 0 12px var(--dorado));
}

/* 🟨 Botón */
.start-btn {
    margin-top: 10px;
    padding: 12px 0; /* antes 14px */
    width: 100%;
    background: var(--dorado);
    color: #000000;
    font-family: var(--font-main);

    font-size: 16px; /* reducido */
    
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 12px var(--dorado);
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
}

.start-btn:hover {
    background: #ffe8a3;
    color: #07002e;
    transform: scale(1.05); /* reducido para que no crezca demasiado */
    box-shadow: 0 0 20px var(--dorado);
}

form a{
    color: rgb(245, 238, 255);
}